<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>MVC - model views and controllers</h1>
    <form action="/form-submit" method="post">
        Name <input type="text" name="name">
        <br>
        Email <input type="email" name="email">
        <br>
        Age<input type="number" name="age">
        <br>
        Phone <input type="number" name="Phone">
        <br>
        password <input type="password" name="password">
        <br>
        
        <input type="submit" value="submit">
    </form>
    
</body>
</html>